* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}
a {
  text-decoration: none;
  color: black;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg-screen.jpg");
  background-color: white;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card {
  width: 275px;
  min-height: 500px;
  background-color: rgba(61, 60, 60, 0.8);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(146, 146, 146, 0.2);
  position: relative;
  padding: 0 1rem;
}

.photo img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#header .title {
  text-align: center;
  margin-top: 0.75rem;
  color: white;
}

#header .title .name {
  font-size: 1.5rem;
  font-weight: bold;
}

#header .title .job {
  font-size: 1rem;
}

#body {
  margin-top: 3rem;
}

.button-call {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1rem;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.8rem;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

#socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#socials .button-social {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}


#card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  font-size: 1rem;
  font-style: italic;
}

.contact_qr{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.back_button{
  margin-top: 2rem;
}